.footer{
    background-color: $color-grey-dark1;
    padding: 10rem 0;
    &-logo{
        width: 15rem;
    }
    &-navigation{
        list-style: none;
        border-top: 0.1rem solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;
    }
    &-list{
        display: inline-block;
        &:not(:last-child){
            margin-right: 1.5rem;
        }
        a{
            &:link, &:visited{
                color: $color-grey-light-1;
                text-transform: uppercase;
                text-decoration: none;
                display: inline-block;
                transition: all 0.3s;
            }
            &:hover, &:focus{
                @include backgroundClip;
                transform: scale(1.2);
                box-shadow: 0 1rem 2rem rgba($color-dark, 0.4);
            }
        }
    }
    &-copyright{
        padding-top: 2rem;
        border-top:  0.1rem solid $color-grey-dark;
        width: 86%;
        margin-left: auto;
        text-align: justify;
        color: $color-white;
    }
}
